<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>DjangoPolymerProject</title>
    <script src="{% static "bower_components/webcomponentsjs/webcomponents-lite.min.js" %}"></script>
    <link rel="import" href="{% static "components/proto-element.html" %}">
    <link rel="import" href="{% static "components/dom-element.html" %}">
    <link rel="import" href="{% static "components/custom-dom-element.html" %}">
   d<link rel="import" href="{% static "components/simple-content.html" %}">
    <link rel="import" href="{% static "components/simple-content.html" %}">
    <link rel="import" href="{% static "components/white-spaces.html" %}">

    <link rel="import" href="{% static "components/my-element.html" %}">
    <link rel="import" href="{% static "components/my-toolbar-element.html" %}">

    <style include="shared-styles"></style>
</head>
<body>
    <h1>Hello Django!</h1>
    <proto-element></proto-element>
    <dom-element></dom-element>
    <custom-dom-element></custom-dom-element>
    <simple-content></simple-content>
    <has-whitespace></has-whitespace>
    <no-whitespace></no-whitespace>
    <my-element></my-element>
    <my-toolbar-element></my-toolbar-element>
    <script>
    </script>
</body>
</html>
